@import url('https://fonts.googleapis.com/css?family=Prompt');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p');

* {
  font-family: 'M PLUS 1p', sans-serif;
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: Prompt, sans-serif;
}

h1 {
  font-size: 40px;
  margin-top: 2.5em;
}

h2 {
  font-size: 28px; 
}

h3 {
  font-size: 20px; 
}

h4,p {
  margin: 0;
}

img {
  width: 350px;
  max-height: 350px;
  margin: 0 15px 0 15px;
  border-radius: 10px;
}

iframe{
  margin: 0 15px 0 15px;
}

article a {
  color: #2464cc;
  font-weight: bold;
  text-decoration-line: none;
}

article a:hover{
  color: #5b99ff;
  text-decoration-line: underline;
}

strong {
  font-weight: bold; 
}
strong.challenge {
  color: #05396B; 
}
strong.workshops {
  color: #0B6E4F; 
}
strong.guest-lecture {
  color: #FA9F42; 
}
strong.gallery {
  color: #721817; 
}

body {
  margin: 0 15% 0 15%;
  display: grid;
  grid-template-areas: "." "." ".";
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: #AAAAAA; 
}
body.challenge section:nth-child(even) {
  background: #f4f5f7; }
body.challenge h1, body.challenge h2, body.challenge h3 {
  color: #36393B; }
body.workshops section:nth-child(even) {
  background: #b4f7e2; }
body.workshops h1, body.workshops h2, body.workshops h3 {
  color: #0B6E4F; }
body.guest-lecture section:nth-child(even) {
  background: #fdd1a5; }
body.guest-lecture h1, body.guest-lecture h2, body.guest-lecture h3 {
  color: #FA9F42; }
body.gallery section:nth-child(even) {
  background: #f4c8c7; }
body.gallery h1, body.gallery h2, body.gallery h3 {
  color: #721817; }
body .expectations {
  padding: 0; }
body .expectations h3 {
  background: #5A5D5E;
  color: #FFFFFF;
  margin: 0;
  padding: 0.5em 1em; }
body .expectations p {
  background: #DADBDB;
  padding: 1em;
  margin: 0; }

main {
  background: white;
  width: 100%;
  padding-top: 3em; }
  main article{
    padding: 2em 1em; }

@media screen and (min-width: 1024px) {
  main article {
    margin: 0 auto;
    width: 1024px; } }

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none; }
  nav ul li {
    flex-grow: 1;
    position: initial;}
    nav ul li a, nav ul li p {
      display: block;
      padding: 1em;
      font: 100% Helvetica, sans-serif;
        font-weight: bold;
      color: #36393B;
      text-decoration: none;
      text-align: center;
      margin: 0;
      cursor: pointer; }
    nav ul li ul {
      display: none;
      background: none;
      flex-direction: column;
      padding: 0;
      margin: 0;
      position: absolute;
      width: 100%;
      overflow: hidden;
      left: 0; }
      nav ul li ul li {
        margin: 0;
        padding: 0; }
        nav ul li ul li a {
          text-align: left;
          font-size: 14px;}
    nav ul li:hover ul {
      display: block; }
    nav ul li.challenge {
      background: #bcc9dd; }
      nav ul li.challenge:hover {
        background: #93a2ba; }
      nav ul li.challenge li:not(:last-child) {
        border-bottom: 1.5px solid #FFFFFF; }
      nav ul li.challenge li {
        background-color: #bcc9dd; }
        nav ul li.challenge li:hover a {
          background: #93a2ba; }
    nav ul li.workshops {
      background: #dce8dc; }
      nav ul li.workshops:hover {
        background: #b4c4b4; }
      nav ul li.workshops li:not(:last-child) {
        border-bottom: 1.5px solid #FFFFFF; }
      nav ul li.workshops li {
        background-color: #dce8dc; }
        nav ul li.workshops li:hover a {
          background: #b4c4b4; }
    nav ul li.guest-lecture {
      background: #f7f6e8; }
      nav ul li.guest-lecture:hover {
        background: #efecc6; }
      nav ul li.guest-lecture li:not(:last-child) {
        border-bottom: 1.5px solid #FFFFFF; }
      nav ul li.guest-lecture li {
        background-color: #f7f6e8; }
        nav ul li.guest-lecture li:hover a {
          background: #efecc6; }

nav>ul>li{
  border-right: 1.5px solid #FFFFFF;
}

#homeButton{
  position: fixed;
  left: 1.8%;
  top: 1.2%;
  font-size: 1.5em;
  color: #FFFFFF;
  opacity: 0.6;
}

#homeButton:hover{
  opacity: 1;
}

#main-nav {
  display: none;
  position: fixed;
  width: 70%;
  z-index: 1;
}

#main-nav {
  display: block; 
}

#main-nav ul li {
  position: relative; 
}

#main-nav ul li ul {
  left: initial; 
}

.Arduino{
  width: 40%;
  margin: 0 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  display: inline-block;
  border: 1px solid grey;
  border-radius: 10px;
}

.Arduino img{
  margin: 10px auto;
  clear: both;
}

.Arduino:nth-child(odd){
  float: right;
}

.Arduino:nth-child(even){
  float: left;
}

pre{
  background-color: #1a1a1a;
  color: white;
  font-family: Courier;
  text-align: left;
  counter-reset: line;
  overflow-x: auto;
  overflow-y: scroll;
  max-width: 460px;
  max-height: 270px;
  padding: 10px 20px;
  margin: 0 auto;
}

code{
  text-align: left;
}

.textlink{
  font-family: Courier;
}

/* css for image slideshow start */
.mySlides {display: none}
img.slideshow-container {
  vertical-align: middle;
}

.slideshow-container {
  max-width: 560px;
  height: 315px;
  position: relative;
  margin: auto;
  float: right;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: orange;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.numbertext {
  color: orange;
  font-weight: bold;
  font-size: 14px;
  padding: 8px 12px;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 10;
}
/* css for image slideshow end */